# Created by .ignore support plugin (hsz.mobi)
.idea
.idea/$CACHE_FILE$
.idea/.gitignore
.idea/.name
.idea/artifacts/
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
singer.iml
target/biyesheji.war
target/biyesheji/
target/classes/com/
target/generated-sources/
